body{
    background-color: peru;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(222, 184, 135);
    border: solid 2px black;
}
li a:hover {
    background-color: grey;
}
nav button{
    float: right;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
li {
    float: left;
    margin-right: 4%;
}
li a {
    display: block;
    padding: 8px;
    background-color: burlywood;
}
img{
    width: 35%;
}
header{
    margin-bottom: 10%;
}
.mainContainer{
    background-image: url('../source/background.jpg');
    margin-left: 13.5%;
    float: left;
    width: 75%;
}
.quoteContainer{
    margin-left: 31.35%;
    text-align: center;
    width: 30vw;
    float: left;
    color: white;
    font-size: medium;
    margin-bottom: 5%;
}
.quoteContainer h1{
    background-color: rgba(222, 184, 135, 0.664);
    margin-left: -15%;
    width: 40vw;
    font-size: 280%;
}
.contactContainer{
    margin-left: 31.35%;
    text-align: center;
    width: 30vw;
    float: left;
    color: white;
    font-size: medium;
}
.contactContainer h1{
    margin-left: -15%;
    width: 40vw;
    font-size: 280%;
}
.contactContainer p{
    font-size: 150%;
    float: right;
}
.contactContainer button{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(222, 184, 135);
    border: solid 2px black;
}
.contactContainer button:active{
    transform: scale(0.9);
}
.contactContainer input[type="email"]{
    float: left;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgba(222, 184, 135, 0.664);
    color: white;
}  
.contactContainer textarea[type="text"]{
    float: left;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgba(222, 184, 135, 0.664);
    font-size: 16px;
    resize: none;
}  
main{
    width: 75%;
    float: left;
    margin-left: 13.5%;
    margin-top: 80px;
}
h2{
    text-align: center;

}
div.galContainer{
    margin-left: 15%;
    width: 40vw;
    margin: 10px;
    border: 1px solid black;
    float: left;
    width: 60vw;

}
div.galContainer:hover{
    border: 1px solid #777;
}
div.galContainer img{
    width: 100%;
    height: auto;
}
div.desc{
    padding: 15px;
    text-align: center;
}

div.galContainer{
    margin: 10px;
    border: 2px solid black;
    float: center;
    width: 220px;
    border-radius: 4px;
}
div.galContainer:hover{
    border: 1px solid #777;
}
div.galContainer img{
    width: 100%;
    height: auto;
    border-radius: 1px;
}
div.desc{
    padding: 10px;
    text-align: center;
}
.read-more-btn{
      align-items: center;
      background-color: #c19a6b;
      border: 2px solid #000;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      display: inline-flex;
      fill: #000;
      font-family: Inter,sans-serif;
      font-size: 16px;
      font-weight: 600;
      height: 48px;
      justify-content: center;
      letter-spacing: -.8px;
      line-height: 24px;
      min-width: 140px;
      outline: 0;
      padding: 0 17px;
      text-align: center;
      text-decoration: none;
      transition: all .3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-59:focus {
      color: #171e29;
    }
    
    .button-59:hover {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    .button-59:active {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
    
    @media (min-width: 768px) {
      .button-59 {
        min-width: 170px;
      }
    }
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.mySlides {display: none}
img {vertical-align: middle;}
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
.main_2{
    margin-left: 13.5%;
    float: left;
    width: 75%;
}